<h1>What is Web Live Streamer?</h1>

<p>Have you ever wanted to live stream but don't feel like fooling with weird settings in odd software programs? Web Live Streamer is probably for you! This browser-based service captures your camera or monitor and streams what you see over the internet.</p>
<p>Tl;dr version: no setup time, no additional programs to install, <b>get streaming right away!</b></p>

<p>Want to start streaming?</p>
{{#link-to "signup"}}Sign up!{{/link-to}}
{{outlet}}