{{#if session.isAuthenticated}}
    <script src="client/app/streamConfig/streamutils.js"></script>
    <script>
{{else}}
    <p>Oops, you haven't logged in! Please do so before streaming.</p>
    {{link-to "login"}}Sign In{{/link-to}}
{{/if}}
{{outlet}}
